################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PuntoV/.vs/PuntoV/FileContentIndex/437d43be-b2b5-4dde-8c57-e2e27596a225.vsidx
